:root {
  --main-primary-color: red;
}

/* Button styles */
.primary-button {
  background-color: #281870;
  color: #ffffff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}
.primary-button:hover {
  background-color: #160d3d;
}
.secondary-button {
  background-color: #fff;
  color: #160d3d;
  border: 1px solid;
  padding: 10px;
  width: 100%;
}
.text-button {
  background-color: transparent;
  border: none;
  color: #160d3d;
}
.outline-button {
  background-color: #fff;
  color: #160d3d;
  border-radius: 2em;
  border-color: #160d3d;
  border: 1px solid;
  padding: 10px;
  width: 100%;
}
.outline-button-cyan {
  color: #1ceded;
  border-radius: 4em;
  background-color: #160d3d;
  border-color: #1ceded;
  border: 1px solid;
  padding: 10px;
  width: 100%;
}
.rounded-button {
  background-color: #160d3d;
  color: #fff;
  border-radius: 2em;
  border: none;
  padding: 10px;
  width: 100%;
}
.tournament-btn {
  background-color: cyan;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  padding-block: 10px;
  padding-inline: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
}
.rounded-button-transparent {
  background-color: transparent;
  color: #160d3d;
  border-radius: 2em;
  border: none;
  padding: 10px;
  width: 100%;
}
.rounded-button-cyan {
  background-color: #1ceded;
  color: #160d3d;
  border-radius: 2em;
  border: none;
  padding: 10px;
  width: 100%;
}
.rounded-button-gold {
  background-color: #ffb500;
  color: #160d3d;
  border-radius: 2em;
  border: none;
  padding: 10px;
  width: 100%;
}
/* Container styles */
.container-bg-image {
  background-image: url("shared/win.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  background-size: contain;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.winner-container {
  background-image: url("~/assets/happy_player.png");
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  background-color: #ffb500;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  border-radius: 20em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.support-container {
  background-image: url("~/assets/support.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.player-container {
  background-image: url("~/assets/happy_player.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  background-color: #ffb500;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  border-radius: 20em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nudge-card {
  background: linear-gradient(
      to right bottom,
      rgb(28, 237, 237, 0.8),
      rgb(22, 13, 61, 0.8)
    ),
    url("~/assets/win_big.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  margin-right: 20px;
  width: 26vw;
  height: 13vw;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 6px;
}
.bg-image {
  background: linear-gradient(rgb(22, 13, 61, 0.7), rgb(22, 13, 61, 0.7)),
    url("~/assets/win.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  background-size: contain;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.centered-container {
  width: 100%;
  background-size: contain;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.painted-background {
  max-width: 100%;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #1ceded 5%, #f0f0f0 20%);
}
.purple-background {  
  padding: 30px;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-image: url("~/assets/quiz_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-overlay {
  background-image: url("~/assets/overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #160d3d;
  opacity: 68%;
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9; /* ie fallback png background image */
  /* z-index: 9999; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay-home {
  background-image: url("~/assets/overlay_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #160d3d;
  opacity: 68%;
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9; /* ie fallback png background image */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.colored-center-align-container {
  background-image: url("~/assets/overlay_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #160d3d;
  min-height: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.painted-background-header {
  width: 100%;
  height: 50px;
  color: #fff;
  padding-top: 10px;
  font-weight: 500;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #80029f, #05c5ab);
}
.purple-bg {
  padding: 30px;
  background-color: #160d3d;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
.centered-bordered-container {
  position: center;
  top: 50%;
  padding: 20px 30px 20px 30px;
  margin: auto;
  height: 400px;
  width: 350px;
  border: 1px solid;
  border-color: #160d3d;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
}
/* Text styles */
.input-label {
  font-size: 1.2em;
  font-weight: lighter;
  font-family: "Work Sans";
  text-align: left;
  padding-left: 10px;
}
.heading1 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #fff;
}
.heading2 {
  font-size: 24px;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.heading3 {
  font-size: 17px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.heading4 {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.heading5 {
  font-size: 1.4em;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.menu {
  font-size: 1.2vw;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.subheading1 {
  font-size: 1.4em;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.subheading2 {
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.subheading {
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.subheading3 {
  font-size: 0.8em;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.subheading4 {
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.subheading5 {
  font-size: 0.9em;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
.text1 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
p {
  font-family: "Nunito Sans", sans-serif;
  color: #160d3d;
}
/* Input field styles */
.underline-input-style {
  margin: auto;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.2px solid;
  border-color: #160d3d;
  width: 100%;
  color: #000;
}
.rounded-border-input {
  border: 1px solid #1ceded;
  border-color: #bbb;
  padding: 13px;
  border-radius: 50px;
}
.rounded-border-input:focus {
  border: 1px solid #1ceded;
  padding: 13px;
  border-radius: 50px;
}
/* Alignment styles */
.center-align-content {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
}
.center-align-item {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  padding: 10px;
}
.position-bottom {
  position: relative;
  bottom: 10px;
  text-align: center;
}
.notification-card {
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: solid 1px #bbb;
}
/* Spacing  */
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-right-10 {
  padding-right: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-vertical-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-horizontal-10 {
  padding-inline: 10px;
}
.padding-horizontal-20 {
  padding-inline: 20px;
}
.padding-horizontal-30 {
  padding-inline: 30px;
}
.padding-left-60 {
  padding-left: 60px;
}
.margin-horizontal-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-horizontal-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.padding-all-20 {
  padding: 20px;
}
.padding-10 {
  padding: 10px;
}
.avatar {
  background-image: url("~/assets/profile.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4em;
  height: 60px;
  width: 60px;
}
.promo-card {
  background-image: url("~/assets/promo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 14px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}
.wallet-card {
  margin-bottom: 20px;
  padding: 20px;
  width: 84%;
  border-radius: 15px;
  box-shadow: 0 0 50px #ccc;
}

.custom-modal {
  padding: 40px;
  border-radius: 0.9em;
  margin-bottom: 20px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#col1 {
  width: 50%;
}
#col2 {
  width: 50%;
}

/* direction */
.scrollable {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
